:root {
	--color-headline: #fffffe;
	--color-paragraph: #000000;
	--color-main: #fffffe;
	--color-background: #0f0e17;
	--color-tertiary: #e53170;
	--color-highlight: #ff8906;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-background);
}
